services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file:
      - apps/api/.env
    ports:
      - "8000:8000"
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file:
      - apps/web/.env
    depends_on:
      - api
    ports:
      - "3000:3000"
